<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TrainWebsite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginValidationServlet</display-name>
    <servlet-name>AdminLoginValidationServlet</servlet-name>
    <servlet-class>com.ibm.AdminLoginValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginValidationServlet</servlet-name>
    <url-pattern>/al</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>AdminRegisterServlet</display-name>
    <servlet-name>AdminRegisterServlet</servlet-name>
    <servlet-class>com.ibm.AdminRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegisterServlet</servlet-name>
    <url-pattern>/arl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.ibm.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/ulr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginValidationServlet</display-name>
    <servlet-name>UserLoginValidationServlet</servlet-name>
    <servlet-class>com.ibm.UserLoginValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginValidationServlet</servlet-name>
    <url-pattern>/ul</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTrainServlet</display-name>
    <servlet-name>AddTrainServlet</servlet-name>
    <servlet-class>com.ibm.AddTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTrainServlet</servlet-name>
    <url-pattern>/ats</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.ibm.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/ss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTrain</display-name>
    <servlet-name>BookTrain</servlet-name>
    <servlet-class>com.ibm.BookTrain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTrain</servlet-name>
    <url-pattern>/bt</url-pattern>
  </servlet-mapping>
</web-app>